* {
  margin: 5px;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  line-height: 1.5;
  background: #FAF9EF;
  color: #0F1F2E;
}

#logo {
  width: 35%;
  display: block;
}

nav a {
  text-decoration: none;
  color: #0F1F2E;
  font-weight: 400;
  padding: 8px 10px;
  border: 1px solid transparent;
  border-radius: 12px;
}

nav a:hover {
  border-color: #727e63;
  background-color: #727e63;
  color: #FAF9EF;
}

#navselected {
  color: #FFA033;
}

/* changes color of navigation buttons when mouse is hovering */
#navselected:hover {
  border-color: #727e63;
  background-color: #727e63;
  color: #FAF9EF;
}

/* buy tickets button */
.cta {
  background-color: #FFA033;
  color: #0F1F2E;
  border: none;
  border-radius: 12px;
  padding: 8px 10px;
  font-weight: 600;
}

/* changes color of buy tickets button when mouse is hovering */
.cta:hover {
  background-color: #727e63;
  color: #FAF9EF;
  border: none;
}

/* footer */
footer {
  border-top: 2px solid #0F1F2E;
  padding: 18px 16px;
  text-align: center;
  color: #727e63;
}