* {
  margin: 5px;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  line-height: 1.5;
  background: #FAF9EF;
  color: #0F1F2E;
}

#logo {
  width: 30%;
  display: block;
}

nav a {
  text-decoration: none;
  color: #0F1F2E;
  font-weight: 400;
  padding: 8px 10px;
  border: 1px solid transparent;
  border-radius: 12px;
}

nav a:hover {
  border-color: #727e63;
}

#navselected {
  color: #FFA033;
}