/* Global styling for the MonoMuse Museum website */
* {
  margin: 5px;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  line-height: 1.5;
  background: #FAF9EF;
  color: #0F1F2E;
}

/* Header logo styling */
#logo {
  width: 35%;
  display: block;
}

/* Navigation styling */
nav a {
  text-decoration: none;
  color: #0F1F2E;
  font-weight: 400;
  padding: 8px 10px;
  border: 1px solid transparent;
  border-radius: 12px;
}

/* Hover effect for navigation items */
nav a:hover {
  border-color: #727e63;
  background-color: #727e63;
  color: #FAF9EF;
}

/* Styling for the selected navigation item */
.active {
  color: #FFA033;
}

/* Hover effect for the selected navigation item */
.active:hover {
  border-color: #727e63;
  background-color: #727e63;
  color: #FAF9EF;
}

/* Call-to-action button styling */
.cta {
  background-color: #FFA033;
  color: #0F1F2E;
  border: none;
  border-radius: 12px;
  padding: 8px 10px;
  font-weight: 600;
}

/* Hover effect for call-to-action buttons */
.cta:hover {
  background-color: #727e63;
  color: #FAF9EF;
  border: none;
}

/* Footer styling */
footer {
  border-top: 2px solid #0F1F2E;
  padding: 18px 16px;
  text-align: center;
  color: #727e63;
}

/* Table styling */
th {
  padding-top: 10px;
  padding-bottom: 10px;
  width: fit-content;
  background-color: #0F1F2E;
  color: #FAF9EF;
}

/* Alternate row colors for better readability */
tr:nth-child(even) td {
  background-color: #9BCFE8;
}

/* Form styling */
form p {
  margin: auto;
  text-align: center;
}

/* Global styling */
.container {
  display: grid; /* Turns this div into a CSS Grid layout */
  grid-template-areas:   /* Defines the layout structure */
    'header header'
    'nav_bar nav_bar'
    'main main-img'
    'footer footer';
}

/* Places each element into the correct area of the grid */
.header {
   grid-area: header; 
}
.nav_bar {
   grid-area: nav_bar;
   display: flex; /* Uses Flexbox for internal layout */
   justify-content: right;   /* Right aligns the content */
   gap: 10px; /* Adds space between navigation items */
}

/* Hide all navigation links except the hamburger icon on small screens */
.nav_bar a:not(-icon) { 
  display: none;
}

/* When menu is toggled, stack items vertically */
.nav_bar .icon { 
  display: block;
  margin-left: auto; /* Push icon to the right */ 
  cursor: pointer; /* Show pointer on hover */
  font-size: 24px; /*Make icon larger and visible */
}

/* Responsive design for mobile devices */
.nav_bar.responsive{
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align items to the left */
}

/* Show all navigation links when the hamburger menu is expanded */
.nav_bar.responsive a:not(.icon) { 
  display: block;
  width: 100%;
  text-align: left;
}

/* Keep hamburger icon aligned to the right in expanded view */
.nav_bar.responsive .icon{ 
  display: block;
  align-self: flex-end;
}


/* Hide hamburger by default */
#hamburger {
  display: none;
}

/* Responsive design for mobile devices */
@media only screen and (max-width: 650px) {
  .container {
    grid-template-areas:
      'header'
      'nav_bar'
      'main'
      'footer';
    grid-template-columns: 1fr;
 
  }
  #logo {
    width: 75%;
  }

  .nav_bar {
    justify-content: center;
    flex-wrap: wrap;
  }

  nav a:not(#hamburger) {
      display: none;
    }

  #hamburger {
    display: block;
  }

  nav a.responsive {
    display: block;
  }
}

