<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-4.0.0.min.js"></script>
    <script src="../static/script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <meta name="author" content="Serena Ploeger">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickets | MonoMuse</title>
</head>

<body onload="addYear()"> 

<!-- This page provides information about ticket prices and types. It includes a table that lists the different ticket options -->
<div class="container">
    <header class="header">
        <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
    </header>    
    <nav class="nav_bar">
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="buytickets.html">Buy Tickets</a>
    </nav>
    
    <main class="main">
        <h2>Ticket Prices</h2>
        <table>
            <tr>
                <th>Ticket Type</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>Adult</td>
                <td>General admission for 18+. Under 18 free of charge.</td>
                <td>$18</td>
            </tr>
            <tr>
                <td>Student</td>
                <td>Valid student ID required.</td>
                <td>$10</td>
            </tr>
            <tr>
                <td>Member</td>
                <td>Valid member ID required.</td>
                <td>$15</td>
            </tr>
        </table>

        <h2>Available Dates</h2>
        <table>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Availability</th>
                <th>Action</th>
            </tr>
            <tr>
                <td> April 10, 2026</td>
                <td>10:00 AM</td>
                <td>Available</td>
               <td><button onclick="showForm()">Buy Now</button></td>
            </tr>
            <tr>
                <td> April 10, 2026</td>
                <td>11:00 AM</td>
                <td>Available</td>
                <td><button onclick="showForm()">Buy Now</button></td>
            </tr>
            <tr>
                <td> April 10, 2026</td>
                <td>12:00 PM</td>
                <td>Available</td>
                <td><button onclick="showForm()">Buy Now</button></td>
            </tr>
            <tr>
                <td> April 11, 2026</td>
                <td>10:00 AM</td>
                <td>Available</td>
               <td><button onclick="showForm()">Buy Now</button></td>
            </tr>
            <tr>
                <td> April 11, 2026</td>
                <td>11:00 AM</td>
                <td>Available</td>
                <td><button onclick="showForm()">Buy Now</button></td>
            </tr>
            <tr>
                <td> April 12, 2026</td>
                <td>12:00 PM</td>
                <td>Available</td>
                <td><button onclick="showForm()">Buy Now</button></td>
            </tr>
        </table>  
        
    <div id="purchaseForm">
        <h2>Purchase Tickets</h2>
        <form>
            <p>
                <label for="name">Name: (required)</label>
            </p>
            <p>
                <input type="text" id="name" name="name" required>
            </p>
            <p>
                <label for="email">Email: (required)</label>
            </p>
            <p>
                <input type="email" id="email" name="email" required>
            </p>
            <p>
                <label for="quantity">Number of Tickets: (required)</label>
            </p>
            <p>
                <input type="number" id="quantity" name="quantity" required>
            </p>
            <p>
                <button type="submit" onclick="alert('Redirecting to payment system.')">Submit</button>
            </p>
        </form>
    </div>
    </main>
    <footer class="footer">
        <p id="copyYear"></p>
    </footer>
</div>


</body>
</html>


