<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../static/script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <meta name="author" content="Serena Ploeger">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>Tickets | MonoMuse</title>
</head>

<body onload="addYear()"> 

<!-- This page provides information about ticket prices and types. It includes a table that lists the different ticket options -->
<div class="container">
    <header class="header">
        <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
    </header>    
    <nav class="nav_bar">
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a id="navselected" href="tickets.html">Tickets</a>
            <a href="checkout.html">Checkout</a>
    </nav>
    
    <main class="main">
        <table>
            <tr>
                <th>Ticket Type</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>Adult</td>
                <td>General admission for 18+. Under 18 free of charge.</td>
                <td>$18</td>
            </tr>
            <tr>
                <td>Student</td>
                <td>Valid student ID required.</td>
                <td>$10</td>
            </tr>
            <tr>
                <td>Member</td>
                <td>Valid member ID required.</td>
                <td>$15</td>
            </tr>
        </table>
    </main>
    <footer class="footer">
        <p id="copyYear"></p>
    </footer>
</div>


</body>
</html>


