<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../static/script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <meta name="author" content="Serena Ploeger">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>Checkout | MonoMuse</title>
</head>

<!-- This page is a simple form for users to enter their name, email, and number of tickets they want to purchase. -->
<body onload="addYear()"> 

<header>
    <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
    <nav>
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="tickets.html">Tickets</a>
        <a id="navselected" href="checkout.html">Checkout</a>
    </nav>
</header>
  
<!-- The form below collects the user's name, email, and number of tickets they want to purchase. All fields are required. -->
<form>
    <p>
        <label for="name">Name: (required)</label>
    </p>
    <p>
        <input type="text" id="name" name="name" required>
    </p>
    <p>
        <label for="email">Email: (required)</label>
    </p>
    <p>
        <input type="email" id="email" name="email" required>
    </p>
    <p>
        <label for="quantity">Number of Tickets: (required)</label>
    </p>
    <p>
        <input type="number" id="quantity" name="quantity" required>
    </p>
    <p>
        <button type="submit">Submit</button>
    </p>
</form>

<footer>
    <p id="copyYear"></p>
</footer>

</body>
</html>


